@font-face {
    font-family: 'Source-Code-Pro';
    src: url(./font/SourceCodePro-Medium.ttf);
}

html {
    background-color: #ccc;
    border: none;
    border-radius: 8px;
}

.popup {
    width: 100px;
    font-family: 'Source-Code-Pro';
    padding: 5px 30px;
    text-align: center;
    background-color: white;
    color: #666;
    border: none;
    border-radius: 8px;
    display: block;
}

.sessional-header {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

hr {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

.button-box {
    display: flex;
    justify-content: space-around;
}

.sessional-button {
    border-radius: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.sessional-button:hover {
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    color: white;
    cursor: pointer;
}

#timerDisplay {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
}